<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Messages</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <table class="message-list">
    <th>Messages</th>
    <% @messages.each do |message| %>
    <%# binding.pry %>
    <tr class="message <%#= 'highlight' if message.highlight %>">
      <td class="message__message"><%= message.message %></td>
      <td class="message__handle"><%= message.user_handle %></td>
      <td class="message__sentiment"><%= message.sentiment %></td>
      <td class="message__counter"><%= message.count %></td>
    </tr>
    <% end %>
  </table>

  <article class="notice">
    <span class="notice__message"><%= params[:notice] %></span>
  </article>

  <a href="<%= messages_fetch_path %>" class="fetch-messages">Fetch more messages</a>
  <a href="<%= messages_clear_path %>" class="clear-messages">Clear messages</a>
</body>
</html>
